@media (max-width: 768px) {
    .header-container {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
        text-align: center;
        display: flex;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
    
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .upper {
        padding: 50px;
    }

    .visi, .misi {
        margin: 20px auto;
        text-align: center;
        flex-direction: column;
    }

    .penjelasan-pt {
        padding: 50px;
    }

    .isi-pt {
        min-width: auto;
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-content, .footer-contact, .footer-social {
        width: 100%;
        margin-bottom: 20px;
    }

    .isi-pt h1 {
        font-size: 20px;
    }

    .isi-pt p {
        font-size: 10px;
        text-align: center;
    }

    .isi-pt button {
        font-size: 16px; 
        width: 150px; 
    }
}
